* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 45%, 89%);
}
.card {
  width: 20rem;
  padding: 1rem;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}
.card img {
  width: 100%;
  border-radius: 12px;
}
.card h1 {
  padding-top: 10px;
  font-weight: 700;
  font-size: 20px;
  color: hsl(218, 44%, 22%);
}
.card p {
  padding-top: 10px;
  font-weight: 400;
  font-size: 15px;
  color: hsl(216, 15%, 48%);
}
